*{
    color: #F2F0EC; //Фон сайта
    color: #4D3F29; //Хэдер/футер
    color: #F2F0EC; // с текстом
    color: #6C5F47; // Карточки товара
    color: #D95F30; //Кнопки: фон
    color: #C24F24; // hover
    color: #8B9D77; //Мелкие элементы (иконки, ссылки)
}